In [1]:
# linear regression for multiple varialbles
from matplotlib import pyplot as plt
import pandas as pd

In [3]:
#import data file
df = pd.read_excel('D:\Data-Science-Projects\home-price-multiple-variable.xlsx')

In [6]:
df.isnull().sum()

area       0
bedroom    1
age        0
price      0
dtype: int64

In [7]:
df

   area  bedroom  age   price
0  2600      3.0   20  550000
1  3000      4.0   15  565000
2  3200      NaN   18  610000
3  3600      3.0   30  680000
4  4000      5.0    8  725000

In [8]:
bed_null = df.bedroom.mean()

3.75

In [9]:
bed_null = round(df.bedroom.mean())

In [10]:
bed_null

4

In [11]:
df.bedroom.fillna(bed_null)

0    3.0
1    4.0
2    4.0
3    3.0
4    5.0
Name: bedroom, dtype: float64

In [12]:
df

   area  bedroom  age   price
0  2600      3.0   20  550000
1  3000      4.0   15  565000
2  3200      NaN   18  610000
3  3600      3.0   30  680000
4  4000      5.0    8  725000

In [13]:
df.bedroom = df.bedroom.fillna(bed_null)

In [14]:
df

   area  bedroom  age   price
0  2600      3.0   20  550000
1  3000      4.0   15  565000
2  3200      4.0   18  610000
3  3600      3.0   30  680000
4  4000      5.0    8  725000

In [15]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(df[['area','bedroom','age']],df.price)

LinearRegression()

In [17]:
model.coef_

array([   178.6039538 , -61407.15237672,  -4203.68725011])

In [18]:
model.intercept_

350033.3185250999

In [19]:
model.predict([[2000, 3, 60]])

array([270798.5339849])

In [20]:
# saving the model - `1 - pickle, 2 - joblib from sklearn
import pickle

In [22]:
with open ('regression-model-pickle','wb') as f:
        pickle.dump(model, f)

In [23]:
with open('regression-model-pickle','rb') as f:
    model1 = pickle.load(f)

In [24]:
model1.predict([[8000,2,60]])

array([1403829.40915149])

In [26]:
# Using Joblib to save model
from joblib import dump, load

In [27]:
dump(model, 'regression-model-joblib')

['regression-model-joblib']

In [28]:
model2 = load('regression-model-joblib')

In [30]:
model2.predict([[6000,4,2]])

array([1167621.05730786])